* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    height: 380px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.header_btn1 {
    font-size: 16px;
    font-weight: 600 !important;
    background: #0000 !important;
    color: #000 !important;
    border: none !important;
}

.header_li1:hover {
    background: #FF9619 !important;
    width: 100% !important;
    color: #fff !important;
}

.header_a1 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.header_btn {
    background: #0000 !important;
    color: #000 !important;
    border: none !important;
    opacity: 60%;
}


.header_a {
    color: #FF9619 !important;
    font-size: 14px !important;
}

.header_a:hover {
    color: #FF9619 !important;
    font-size: 14px !important;
}


.head_text {
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head_p {
    font-size: 42px;
    font-weight: 500;
    text-align: start;
    display: flex;
    align-items: stretch;
    width: 77%;
}

.head_bttn {
    width: 210px !important;
    height: 43px;
    background: #FF9619;
    border: none;
    font-size: 16px !important;
    color: #fff;

}

.asd1 {
    width: 100%;
    display: flex !important;
    background: #CCB2A3;
    height: 590px;
}

.head_imgg {
    width: 95%;
    height: 550px;
}

.head_carusel_btn {
    border-radius: 50% !important;
    width: 12px !important;
    height: 12px !important;
}

.head_span {
    color: #FF9619;
}

.number1_col{
    display: none !important;
}


.head_asd{
    margin: 50px auto !important;
}

.head_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hader_img{
    width: 100%;
    height: 140px;
}

.header_p{
    font-size: 16px;
    font-weight: 550;
}


/* section 1 start */

.number1 {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    height: 1400px !important;
}

.header_btnn{
    background: #0000 !important;
    color: #000 !important;
    border: none !important;
}

.number1_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number_box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin: 40px auto;
    gap: 20px;
}

.number1_btn{
    font-size: 16px;
    font-weight: 650;
    color: #fff;
    width: 188px !important;
    height: 43px;
    border: none;
    background: #FF9619;
    margin-left: 40%;
}

.number1_btn:hover{
    background: transparent;
    transition: 1.2s;
    color: #000;
}


.number1_btn {
    font-size: 16px;
    font-weight: 650;
    color: #fff;
    width: 188px !important;
    height: 43px;
    border: none;
    background: #FF9619;
    margin-left: 42% !important;
}

.number1_btn:active{
    background: red;
    color: #000;
}

/* number5 start */

.number5{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    height: 650px;

}

.asd5{
    background: #A9C2BE;
    width: 100%;
    display: flex;
    height: 510px;
}

.number5_img{
    width: 670px !important;
    height: 478px !important;
}

.number5_img {
    width: 670px;
    height: 478px;
    position: absolute;
}




.number5_input{
    border: none;
}

.number5_input::after{
    border: 1px solid #fff !important;
}
.number5_li , .number5_input{
    background: #0000 !important;
}

.number5_col{
    position: relative !important;
    
}

.fs-5 {
    font-size: 14px !important;
    font-weight: 500;
    color: #FF9619;
}

.number5_h2{
    font-size: 32px;
    font-weight: 700;
}

.form-control {
    display: block;
    width: 371px !important;
    padding: 0.375rem 0.75rem;
    font-size: 15px !important;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

.number5_modal{
    background: #0000 !important;
    width: 440px !important;
    height: 417px !important;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto !important;
}

.number5_btn{
    width: 209px;
    height: 43px;
    border: none;
    background: #FF9619;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.number5_img {
    width: 620px;
    height: 438px;
    position: relative;
    margin: 15px auto !important;
}

.number1_input{
    border: none !important;
}

[type=search] {
    outline-offset: -20px !important;
}

.number_bttn{
    border: none !important;
    background: #0000;
}
/* footer start */

footer{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    height: 365px;
    background: #5b5b5b;
}

.fot_row{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fot_p{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 70px;
    color: #fff;
}

.fot_a{
    text-decoration: none;
    color: #ffffff;
    opacity: 80%;
    font-size: 14px;
    font-weight: 600;
}

.fot_a:hover{
    text-decoration: none;
    color: #ffffff;
    opacity: 80%;
    font-size: 14px;
    font-weight: 600;
}

.fot_box{
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 85px;
}

.fot_imgs{
    display: flex;
    width: 17%;
    justify-content: space-between;
}

.fott_imgg{
    width: 28px;
    height: 28px;
}

.fot_btnn{
    width: 271px;
    height: 42px;
    background: #FF9619 !important;
    border: none !important;
    color: #fff;
}

.modal-header {
    display: flex;
    width: 100% !important;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.fot_text{
    display: flex;
    flex-direction: column;
}

.fot_h1{
    font-size: 14px !important;
    font-weight: 600;
}

.fot_modal_p{
    font-size: 32px;
    font-weight: 600;
}

.fot_box{
    display: flex !important;
}

.fot_box_p{
    font-size: 14px;
    font-weight: 400;
    opacity: 50%;
    width: 60%;
}

.foot_input{
    width: 20px;
    height: 20px;
}


@media screen and (max-width: 1201px) {
    .container {
        width: 100%;
    }

    header {
        max-width: 1920px;
        width: 100%;
        margin: auto;
        height: 600px;
    }

    .hader_img {
        width: 80%;
        height: 140px;
    }

    .head_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }

    .number1 {
        max-width: 1920px;
        width: 100%;
        margin: auto;
        height: 1830px;
    }

    


}

@media screen and (max-width:1024px) {
    .container{
        width: 100%;
    }

    .header_col{
        display: none;
    }

    header {
        max-width: 1920px;
        width: 100%;
        margin: auto;
        height: 100px;
    }

    .number1 {
        max-width: 1920px;
        width: 100%;
        margin: auto;
        height: 2700px;
    }

    .number5_img {
        display: none !important;
    }

    .asd5 {
        width: 100%;
        display: flex;
        height: 510px;
        background: #0000;
    }

    .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: auto;
        margin-left: auto;
        border: 2px solid #F2F3F5  !important;
        width: 100% !important;
        height: 100% !important;
        background: #F2F3F5;
        
    }

    .modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center !important;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.fot_btnn{
    width: 85%;
}

.number1 {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    height: 2563px;
}
}


@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }

    .number1 {
        max-width: 1920px;
        width: 100%;
        margin: auto;
        height: 4700px !important;
    }

    .footer_img {
        width: 45% !important;
    }
    
    .fot_col1{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    
    .number1_btn {
        font-size: 16px;
        font-weight: 650;
        color: #fff;
        width: 188px !important;
        height: 43px;
        border: none;
        background: #FF9619;
        margin-left: 34%;
    }

    .number1_img{
        width: 250px;
        height: 250px;
    }

    .number1 {
        max-width: 1920px;
        width: 100%;
        margin: auto;
        height: 2400px;
    }

    .footer_img{
        width: 90%;
    }

    .fot_a {
        text-decoration: none;
        color: #ffffff;
        opacity: 80%;
        font-size: 12px;
        font-weight: 600;
    }

    .fot_btnn {
        width: 85%;
        font-size: 13px !important;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: flex-end !important;
        background: #0000;
        border: none !important;
    }

    .navbar-toggler {
        padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
        font-size: var(--bs-navbar-toggler-font-size);
        line-height: 1;
        color: var(--bs-navbar-color);
        background-color: transparent;
        border: none !important;
        border-radius: var(--bs-navbar-toggler-border-radius);
        transition: var(--bs-navbar-toggler-transition);
    }

    }

    


@media screen and (max-width: 536px) {
    .container {
        width: 100%;
    }

    .number1 {
        max-width: 1920px;
        width: 100%;
        margin: auto;
        height: 4800px;
    }

    .number1_btn {
        font-size: 16px;
        font-weight: 650;
        color: #fff;
        width: 188px !important;
        height: 43px;
        border: none;
        background: #FF9619;
        margin-left: 33%;
    }

    .modal-dialog {
        position: relative;
        width: auto;
        margin: var(--bs-modal-margin);
        pointer-events: none;
        border: none !important;
    }

    .fs-5 {
        font-size: 1.25rem!important;
        text-align: center;
    }

    .fot_col1{
        display: flex;
    width: 100% !important;
    justify-content: center;
}

.footer_img {
    width: 40%;
}

.fot_p {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 70px;
    color: #fff;
    font-size: 14px;
    width: 120%;
}

.fot_btnn {
    width: 100%;
    font-size: 11px !important;
}

.fot_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 85px;
}

.number1_box {
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: column !important;
    gap: 15px;
}

.form-control {
    display: block;
    width: 310px !important;
    padding: 0.375rem 0.75rem;
    font-size: 15px !important;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.number1_btn {
    font-size: 16px;
    font-weight: 650;
    color: #fff;
    width: 188px !important;
    height: 43px;
    border: none;
    background: #FF9619;
    margin-left: 27%;
}
}



@media screen and (max-width: 320px) {
    .container {
        width: 100%;
    }



    .number1_box {
        width: 100%;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        flex-direction: column !important;
        gap: 15px;
    }

    .number1_btn {
        font-size: 15px;
        font-weight: 650;
        color: #fff;
        width: 160px !important;
        height: 37px;
        border: none;
        background: #FF9619;
        margin-left: 19%;
    }

    .number5_h2 {
        font-size: 25px;
        font-weight: 700;
    }

    .fs-5 {
        font-size: 14px !important;
    }

    .form-control {
        display: block;
        width: 220px !important;
        padding: 0.375rem 0.75rem;
        font-size: 15px !important;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.375rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }


    .number5_btn {
        width: 160px;
        height: 37px;
        border: none;
        background: #FF9619;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: #ffffff;
    }

    .fott_imgg {
        width: 24px;
        height: 24px;
    }

    .fot_p {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 70px;
        color: #fff;
        font-size: 12px;
        width: 209%;
    }

    .fot_a {
        text-decoration: none;
        color: #ffffff;
        opacity: 80%;
        font-size: 11px;
        font-weight: 600;
        width: 70%;
    }

    .fot_btnn {
        width: 165%;
        font-size: 11px !important;
    }
}