* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    height: 650px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.header_btn1 {
    font-size: 16px;
    font-weight: 600 !important;
    background: #0000 !important;
    color: #000 !important;
    border: none !important;
}

.header_li1:hover {
    background: #FF9619 !important;
    width: 100% !important;
    color: #fff !important;
}

.header_a1 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.header_btn {
    background: #0000 !important;
    color: #000 !important;
    border: none !important;
    opacity: 60%;
}


.header_a {
    color: #FF9619 !important;
    font-size: 14px !important;
}

.header_a:hover {
    color: #FF9619 !important;
    font-size: 14px !important;
}


.head_text {
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head_p {
    font-size: 42px;
    font-weight: 500;
    text-align: start;
    display: flex;
    align-items: stretch;
    width: 77%;
}

.head_bttn {
    width: 210px !important;
    height: 43px;
    background: #FF9619;
    border: none;
    font-size: 16px !important;
    color: #fff;

}

.asd1 {
    width: 100%;
    display: flex !important;
    background: #CCB2A3;
    height: 590px;
}

.head_imgg {
    width: 95%;
    height: 550px;
}

.head_carusel_btn {
    border-radius: 50% !important;
    width: 12px !important;
    height: 12px !important;
}

.head_span {
    color: #FF9619;
}

.number1_col{
    display: none !important;
}


.head_asd{
    margin: 50px auto !important;
}

.head_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hader_img{
    width: 100%;
    height: 140px;
}

.header_p{
    font-size: 16px;
    font-weight: 550;
}

.header_img{
    width: 100%;
    height: 100%;

}

.header_h3{
    font-size: 35px;
    width: 650px;
    color: #343434;

}


.header_h4{
    font-size: 18px;
    font-weight: 500;
    color: #343434;
}

.header_p{
    font-size: 18px;
    font-weight: 300;
    width: 80%;
}

.header_h6{
    font-size: 20px;
    font-weight: 600;
    color: #FF9619;
}

.header_Asd{
    margin: 100px auto !important;
}
.col_box{
    background: url(../img/3\ \(2\)\ \(1\)\ kontakt.png) no-repeat center center / cover;
    width: 570px;
    height: 431px;

}

.header_h3{
    font-size: 25px;
    font-weight: 600;
    color: #FF9619;
}


.header_li{
    list-style: disc;
    color: #FF9619;
    
}

.header_p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
}

.box_header{
    width: 100px;
    display: flex;
    justify-content: center;
    height: 20%;
    margin-left: 30%;
}

.box_body{
    display: flex;
    justify-content: center;
    margin-left: 20%;
    flex-direction: column;
}

.header_h4{
    font-size: 16px;
    font-weight: 550;
    color: #ffffff;
    text-decoration: none;
}

.header_h4_1{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.header_A1{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.header_A1:hover{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    opacity: 60%;
}

.header_h3 {
    font-size: 25px;
    font-weight: 600;
    color: #FF9619;
    margin: 10px auto;
}

.header_span{
    font-weight: 400;
    opacity: 80%;
}