* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    height: 380px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.header_btn1 {
    font-size: 16px;
    font-weight: 600 !important;
    background: #0000 !important;
    color: #000 !important;
    border: none !important;
}

.header_li1:hover {
    background: #FF9619 !important;
    width: 100% !important;
    color: #fff !important;
}

.header_a1 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.header_btn {
    background: #0000 !important;
    color: #000 !important;
    border: none !important;
    opacity: 60%;
}


.header_a {
    color: #FF9619 !important;
    font-size: 14px !important;
}

.header_a:hover {
    color: #FF9619 !important;
    font-size: 14px !important;
}


.head_text {
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head_p {
    font-size: 42px;
    font-weight: 500;
    text-align: start;
    display: flex;
    align-items: stretch;
    width: 77%;
}

.head_bttn {
    width: 210px !important;
    height: 43px;
    background: #FF9619;
    border: none;
    font-size: 16px !important;
    color: #fff;

}

.asd1 {
    width: 100%;
    display: flex !important;
    background: #CCB2A3;
    height: 590px;
}

.head_imgg {
    width: 95%;
    height: 550px;
}

.head_carusel_btn {
    border-radius: 50% !important;
    width: 12px !important;
    height: 12px !important;
}

.head_span {
    color: #FF9619;
}

.number1_col{
    display: none !important;
}


.head_asd{
    margin: 50px auto !important;
}

.head_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hader_img{
    width: 100%;
    height: 140px;
}

.header_p{
    font-size: 16px;
    font-weight: 550;
}

/* section 1 start */


.number1{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    height: 2350px;
}

.header_btnn{
    background: #0000 !important;
    border: none !important;
    color: #000 !important;
}

.header_ul{
    color: #000 !important;
}

.number1_box{
    display: flex;
    width: 100%;
    height: 24px;
    justify-content: space-between;
    align-items: center;
}

.number1_input{
    width: 270px;
    height: 36px;
    border: 1px solid #343434;
    
}

.number_img{

}

.number_box1{
    width: 570px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.number1_h2{
    font-size: 19px;
    font-weight: 500;
    color: #4B4844;

}

.number1_p1{
    font-size: 13px;
    font-weight: 300;
    color: #4B4844;
    opacity: 80%;
}

.number1_text{
    margin-left: 20px;
}



.number1_input{
    border: none !important;
}

[type=search] {
    outline-offset: -20px !important;
}

.number_bttn{
    border: none !important;
    background: #0000;
}

/* footer start */

footer{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    height: 365px;
    background: #5b5b5b;
}

.fot_row{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fot_p{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 70px;
    color: #fff;
}

.fot_a{
    text-decoration: none;
    color: #ffffff;
    opacity: 80%;
    font-size: 14px;
    font-weight: 600;
}

.fot_a:hover{
    text-decoration: none;
    color: #ffffff;
    opacity: 80%;
    font-size: 14px;
    font-weight: 600;
}

.fot_box{
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 85px;
}

.fot_imgs{
    display: flex;
    width: 17%;
    justify-content: space-between;
}

.fott_imgg{
    width: 28px;
    height: 28px;
}

.fot_btnn{
    width: 271px;
    height: 42px;
    background: #FF9619 !important;
    border: none !important;
    color: #fff;
}

.modal-header {
    display: flex;
    width: 100% !important;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.fot_text{
    display: flex;
    flex-direction: column;
}

.fot_h1{
    font-size: 14px !important;
    font-weight: 600;
}

.fot_modal_p{
    font-size: 32px;
    font-weight: 600;
}

.fot_box{
    display: flex !important;
}

.fot_box_p{
    font-size: 14px;
    font-weight: 400;
    opacity: 50%;
    width: 60%;
}

.foot_input{
    width: 20px;
    height: 20px;
}


